$bg-color: rgba(21, 25, 23, 0.9);
$box-color: #1c2420;

$main-text: #d5e0d9;
$hover-color: #ffffff;

$active-color: #6ebc82;
$battery-color: #e6c381;
$bluetooth-color: #81a1e6;
$volume-color: #81e6aa;
$brightness-color: #f6f7a9;
$power-color: #e68181;
$reboot-color: #e6d881;
$lock-color: #81b2e6;

* {
  all: unset;
  font-family: Hack Nerd Font Mono;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
}

.bar {
  background-color: $bg-color;
  margin: 5px;
  color: $main-text;
}

.area {
  background-color: $box-color;
  border-radius: 12px;
  padding: 10px 5px;
}

button {
  font-size: 18px;
}

button:hover {
  color: $hover-color;
}

.icon {
  font-size: 24px;
}

.workspaces .active {
  color: $active-color;
}

.battery .icon {
  color: $battery-color;
}

.bluetooth-button {
  color: $bluetooth-color;
}

.volume-button {
  color: $volume-color;
}

.volume-slider-container {
  margin-bottom: 15px;
}

scale.volume-slider trough {
  all: unset;
  background-color: darken($box-color, 5%);
  border-radius: 10px;
  min-width: 8px;
  min-height: 80px;
}

scale.volume-slider trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: $brightness-color;
}

.brightness-button {
  color: $brightness-color;
}

.brightness-slider-container {
  margin-bottom: 15px;
}

scale.brightness-slider trough {
  all: unset;
  background-color: darken($box-color, 5%);
  border-radius: 10px;
  min-width: 8px;
  min-height: 80px;
}

scale.brightness-slider trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: $brightness-color;
}

.time {
  font-size: 16px;
  font-weight: bold;
}

.power-icon-default {
  color: $power-color;
  font-size: 18px;
}

.power-menu-revealed {
  margin-bottom: 15px;
}

.power-button {
  color: $power-color;
  color: $power-color;
  font-size: 18px;
}

.reboot-button {
  color: $reboot-color;
}

.lock-button {
  color: $lock-color;
}