$bg-color: rgba(26, 27, 38, 0.5);
$box-color: rgba(13, 14, 18, 0.8);

$active-workspace-color: rgba(50, 150, 80, 1.0);

$main-text: darkolivegreen;
$button-hover-color: olivedrab;

$slider-color: darkseagreen;

.area {
  &>* {
    border-radius: 5px;
    background-color: $box-color;
  }
}

* {
  all: unset;
}

window {
  font-family: FiraCode Nerd Font;
  font-size: 16px;

  background-color: rgba(0, 0, 0, 0);

  color: $main-text;

  &>* {
    margin: 3px;
  }
}

.workspaces {
  padding-top: 10px;
  padding-bottom: 10px;
}

.active {
  color: $active-workspace-color;
}

.metric {
  padding: 5px 2px;
}

.volume {
  padding: 0;
  margin: 0;

  slider {
    all: unset;
  }

  scale trough highlight {
    border-radius: 10px;
    all: unset;
    background-color: $slider-color;
  }

  scale trough {
    all: unset;
    background-color: $box-color;
    min-width: 34px;
    min-height: 2px;
  }
}

.bluetooth {
  padding: 0;
  margin: 0;
}

.bluetooth :hover {
  color: $button-hover-color;
}

.time {
  padding-top: 7px;
  padding-bottom: 7px;
}

.sidebar {
  background-color: $bg-color;
  border-radius: 12px;
}